/*!!! NOTE: any css styling you change in main.css will overwrite the styling for all css files */
body {
	margin: 0;
	font-family: sans-serif;
	background-color: red;
}

p {
	font-family: Georgia, serif;
	font-size: 1.2;
	color: black;
}

