<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel='stylesheet' type='text/css'>
{% extends "base.html" %}
{% block title %}{{ super() }}Change Password{% endblock %}
{% block head %} {{ super() }}
<link rel="stylesheet" href="../static/css/changePass.css">
{% endblock %}

{% block body %}
<div class="container">
	<h1>Change Password</h1>
	<form method='POST'>

		<div class="row">
			<div class="small-column">
				<label>Old Password</label>
			</div>
			<div class="big-column">
				<input type="password" name="old password">
			</div>
		</div>

        <div class="row">
			<div class="small-column">
				<label>New Password</label>
			</div>
			<div class="big-column">
				<input type="password" name="new password">
			</div>
		</div>

        <div class="row">
			<div class="small-column">
				<label>Retype Password</label>
			</div>
			<div class="big-column">
				<input type="password" name="confirm password">
			</div>
		</div>
		<p style="background-color:red;">{{content}}</p>
		<div class="row">
			<button type='submit' name='back' value='return to userPortal'>Go Back</button>
			<button type='submit' name='new' value ='attempt change'>Change Password</button>
		</div>

	</div>
	</form>
</div>

{% endblock %}