<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel='stylesheet' type='text/css'>
{% extends "base.html" %}
{% block title %}{{ super() }}Manage Resources{% endblock %}
{% block head %} {{ super() }}
<link rel="stylesheet" href="../static/css/checkout.css">
{% endblock %}

{% block body %}
<div class="container">
<form method='POST'>
	<h1>Manage Resources</h1>
	<p>{{displayProject}}</p>
	<div class="row">		
		<div class = "biggest-col">
		</div>
	</div>
	<div class="form-group">
		
		<h2>Hardware Set 1:</h2>
		<p>Availability: {{available}}</p>
		<p>Capacity: {{initialCap}}</p>
		<label for="requestedHW1">Request Resources (Enter 1-100):</label><br>
		<input type="number" id="requestedHW1" name="requestedHW1">
		<button type="submit" name="submitHW1" value="send request">Checkout</button>
		<button type="submit" name="checkinHW1" value="send request">Check In</button>
		<p>{{statusOne}}</p>	
	</div>
</form>
<form method='POST'>
	<div class="form-group">
		<h2>Hardware Set 2:</h2>
		<p>Availability: {{available2}}</p>
		<p>Capacity: {{initialCap2}}</p>
		<label for="requestedHW2">Request Resources (Enter 1-100):</label><br>
		<input type="number" id="requestedHW2" name="requestedHW2">
		<button type="submit" name="submitHW2" value="send request">Checkout</button>
		<button type="submit" name="checkinHW2" value="send request">Check In</button>
		<p>{{statusTwo}}</p><br>
    <br>
	<div class="row">		
		<div class = "biggest-col">
			<button type='submit' style="color: #5f5019; background-color:#ffd744;	border: #d1a401 1px solid;
			margin-right: 2px; font-size: 15px; height: 30px; width:170px; margin-top: 0px;" name='returnToUP' value="go back">Return to User Portal</button>
			<button type='submit' style="color: #5f5019; background-color:#ffd643;	border: #d1a401 1px solid;
			margin-right: 2px; font-size: 15px; height: 30px; width:170px; margin-top: 0px;" name='leaveproject' value="leave project">Leave Project</button>
		</div>
	</div>
	</div>
</form>
</div>
{% endblock %}
