<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Manage Resources</h1>
<form>
  <h2>Hardware Set 1:</h2>
  <p>Availability: {{available}}</p>
  <p>Capacity: {{initialCap}}</p>
  <label for="requested">Request:</label><br>
  <input type="number" id="requested" name="requested">
  <button type="button">Checkout</button>
</form>
<form>
  <h2>Hardware Set 2:</h2>
  <p>Availability: {{available2}}</p>
  <p>Capacity: {{initialCap2}}</p>
  <label for="requested">Request:</label><br>
  <input type="number" id="requested" name="requested">
  <button type="button">Checkout</button>
</form>
</body>
</html>
