{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<form method='POST'>
	<p>User Portal</p><br>
	<p>{{content}}</p>	
	<label>Create New Project</label>
	<div class="form-group">
		<label>Project Name</label>
		<input type="text" name="project name">
	</div>
	<div class="form-group">
		<label>Project Description</label>
		<input type="text" name="description">
	</div>
	<button type='submit' name='new_project' value= 'new project'>Submit New Project</button>
	<br>
	<button type='submit' name='addresources' value="go to resources">Add Resources</button>
	<p>{{projectCheck}}</p>	
	<br>
	<button type='submit' name='logout' value='do logout'>Logout and Return to Home Screen</button>
</form>
{% endblock %}