<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel='stylesheet' type='text/css'>
{% extends "base.html" %}
{% block title %}{{ super() }}Login Page{% endblock %}
{% block head %} {{ super() }}
<link rel="stylesheet" href="../static/css/userLogin.css">
{% endblock %}

{% block body %}
<div class="container">
	<h1>Welcome Back!</h1>
	<form method='POST'>
		<div class="row">
			<div class="small-column">
				<label>Username</label>
			</div>
			<div class="big-column">
				<input type="text" name="username">
			</div>
		</div>

		<div class="row">
			<div class="small-column">
				<label>Password</label>
			</div>
			<div class="big-column">
				<input type="password" name="password">
			</div>
		</div>

		<div class="row">
			<button type='submit' class='btn btn-primary'>Login</button>
			<a href="#"><div id="btn2">Sign Up</div></a>
		</div>
		<p style="background-color:red;">{{content}}</p>

	</div>
	</form>
	<p><u style="color:#f1c40f;">Forgot your password?</u></p>
</div>

{% endblock %}