{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<form method='POST'>
	<p>User Portal</p><br>
	<p>{{user}}</p>	
	<div class="form-group">
		<label>Display Account Info</label>
	</div>
	<div class="form-group">
		<label>Create New Project</label>
		<input type="text" name="Project Name">
		<input type="text" name="Project Description">
		<input type="text" name="Resources Needed">
	</div>
	<button type='submit' class='btn btn-primary'>Login</button>
</form>
{% endblock %}