{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<form method='POST'>
	<p>User Portal</p><br>
	<p>{{content}}</p>	
	<label>Create New Project</label>
	<div class="form-group">
		<label>Project Name</label>
		<input type="text" name="project name">
	</div>
	<div class="form-group">
		<label>Project Description</label>
		<input type="text" name="description">
	</div>
	<div class="form-group">
		
			<h2>Hardware Set 1:</h2>
			<p>Availability: {{available}}</p>
			<p>Capacity: {{initialCap}}</p>
			<label for="requestedHW1">Request Resources (Enter 1-100):</label><br>
			<input type="number" id="requestedHW1" name="requestedHW1">
			<button type="submit">Checkout</button>
			<p>{{statusOne}}</p>
		  
		  
			<h2>Hardware Set 2:</h2>
			<p>Availability: {{available2}}</p>
			<p>Capacity: {{initialCap2}}</p>
			<label for="requestedHW2">Request Resources (Enter 1-100):</label><br>
			<input type="number" id="requestedHW2" name="requestedHW2">
			<button type="submit">Checkout</button>
			<p>{{statusTwo}}</p>
		
	</div>
	<button type='submit' class='btn btn-primary'>Submit New Project</button>
	<button type='submit' class='btn btn-primary'>Logout and Return to Home Sreen</button>
</form>
{% endblock %}